:root{
    --background-darkMode: #161616;
    --background-lightMode: #EBEBEB;

    --color-lightMode: #000000;
    --colorDetails-lightMode: linear-gradient(90deg, rgb(255, 0, 0) 0%, rgb(255, 0, 0) 52%, rgb(0, 0, 0) 52%, rgb(0, 0, 0) 100%);
    --colorHabilits-lightMode: #FFFFFF;

    --color-darkMode: #ffffff;
    --colorDetails-darkMode: linear-gradient(90deg, rgb(255, 0, 0) 0%, rgb(255, 0, 0) 52%, rgb(255, 255, 255) 52%, rgb(255, 255, 255) 100%);
    --colorHabilits-darkMode: #000000;
}


.slider-wrapper {
    overflow: hidden;
    max-width: 100%;
    margin: 0 20px 55px;
    margin-inline: auto !important;
}

.card-list .card-item{
    color: var(--colorHabilits-darkMode);
    user-select: none;
    padding: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    background: linear-gradient(125deg, rgba(255,0,0,1) 0%, rgba(153,0,0,1) 100%);
}

body.light-mode .card-list .card-item{
    color: var(--colorHabilits-lightMode);
    user-select: none;
    padding: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    background: linear-gradient(125deg, rgba(255,0,0,1) 0%, rgba(153,0,0,1) 100%);
}

.user-name{
    font-family: "Istok Web", sans-serif;
}

.slider-wrapper .swiper-pagination-bullet{
    background: #ff0000;
    height: 15px;
    width: 15px;
    box-shadow: 0px 0px 3px 1px hsla(345, 100%, 50%, 0.5);
}

