*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --background-darkMode: #161616;
    --background-lightMode: #EBEBEB;

    --color-lightMode: #000000;
    --colorDetails-lightMode: linear-gradient(90deg, rgb(255, 0, 0) 0%, rgb(255, 0, 0) 52%, rgb(0, 0, 0) 52%, rgb(0, 0, 0) 100%);
    --colorDetailsCell-lightMode: linear-gradient(90deg, rgb(255, 0, 0) 0%, rgb(255, 0, 0) 55%, rgb(0, 0, 0) 55%, rgb(0, 0, 0) 100%);
    --colorHabilits-lightMode: #FFFFFF;

    --color-darkMode: #ffffff;
    --colorDetails-darkMode: linear-gradient(90deg, rgb(255, 0, 0) 0%, rgb(255, 0, 0) 52%, rgb(255, 255, 255) 52%, rgb(255, 255, 255) 100%);
    --colorHabilits-darkMode: #000000;
    --colorDetailsCell-darkMode: linear-gradient(90deg, rgb(255, 0, 0) 0%, rgb(255, 0, 0) 55%, rgb(255, 255, 255) 55%, rgb(255, 255, 255) 100%);

}

body{
    background-color: var(--background-darkMode);
}

body.light-mode{
    background-color: var(--background-lightMode);
}

body::-webkit-scrollbar {
    width: 12px;      
    background: transparent;         /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: transparent;        /* color of the tracking area */
  }

  body::-webkit-scrollbar-thumb {
    background-color: #FF0000;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
  }

html{
    scroll-behavior: smooth !important;
}



.inicio{
    width: 100%;
}

.inicioPort{
    height: 100vh;
    width: 100%;
}

.containerInicio{
    width: 100%;
    overflow: hidden;
}

.cabecalho{
    display: flex;
    width: 100%;
    height: 7vh;
}

.navBar{
    display: flex;
    margin-left: auto;
    margin-right: 7%;
    text-decoration: none;
}

.navbar_Item{
    color: transparent;
    margin-inline: 15px;
    font-family: 'Inter', 'sans-serif';
    margin-top: 2vh;
}

.navbar_Item a{
    text-decoration: none;
    color: var(--color-darkMode);   
    transition: .4s ease;
}

.mode{
    margin-top: 0 !important;
}

.navbar_Item button{
    text-align: center;
    font-size: 20px;
    background-color: transparent;
    border: none;
    margin-top: 0;
    width: 1px;
    height: 1px;
}

body .navbar_Item button .dark{
    display: block;
    color: #B80000;
    transition: 1s ease;
    position: absolute;
    top: 2vh;
}

body .navbar_Item button .light{
    color: transparent;
    transition: 1s ease;
    position: absolute;
    top: 2vh;
}


body.light-mode .navbar_Item button .dark{
    color: transparent;
}

body.light-mode .navbar_Item button .light{
    display: block;
    color: #B80000;
}

body.light-mode .navbar_Item a{
    color: var(--color-lightMode);
}

body.light-mode .navbar_Item a:hover{
    color: #FF0000;
}

.navbar_Item a:hover{
      color: #FF0000;
}

.logoPort{
    width: 60px;
    margin-left: 5%;
    margin-top: 1%;
}

.linksHeader{
    display: flex;
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    margin-left: auto;
    margin-top: 1.4%;
    margin-right: 10%;
    justify-content: space-evenly !important; 
}

.efectHeader{
    color: #FF0000;
    margin-top: 1.5px;
    margin-right: 1px;
    transition: 0.7s;
}

.links{
    text-decoration: none;
    color: white;
    transition: 0.7s;
    position: relative;
    margin-inline: 20px;
}

.links a{
    transition: 0.7s;
}

.links:hover{
    color: #FF0000;
}

.fundoInicio{
    width: 400px;
    margin-top: 40px;
    margin-left: 5%;
    filter: drop-shadow( 0px 0px 5px #ff0000);
    z-index: 1;
    position: absolute;
    top: 7%;
}

.Apresentacao{
    z-index: 2;
    background-color: var(--background-darkMode);
    width: 48%;
    position: relative;
    margin-top: 160px;
    margin-left: 15%;
    margin-right: 100%;
    text-align: start;
}

body.light-mode .Apresentacao{
    background-color: var(--background-lightMode);
}

.Apresentacao .nome{
    color: #FF0000;
    font-family: "Inter", sans-serif;
    font-size: 50px;
}

.Apresentacao .curso, .sobre{
    color: var(--color-darkMode);
    font-family: "Inter", sans-serif;
}

.Apresentacao .sobre{
    color: var(--color-darkMode);
    font-family: "Inter", sans-serif;
}

body.light-mode .Apresentacao .curso, .sobre{
    color: var(--color-lightMode);
}

body.light-mode .Apresentacao .sobre{
    color: var(--color-lightMode);
}

.curso{
    font-size: 40px ;
}

.saibaMais{
    height: 40px;
    width: 120px;
    border-radius: 10px;
    border: 0px;
    background-color: #B80000;
    margin-top: 15px;
}

.saibaMais a{
    text-decoration: none;
    color: white;
    font-size: 15px;
}

.efeitosInicio{
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-left: auto;
    margin-right: 0px;
    width: 100%;
    text-align: end;
    align-items: end;
}

.quadrado{
    width: 60px;
    height: 60px;
    background-color: #FF0000;
    margin-top: 30px;
    margin-right: 100px;
    animation: quadrado 5.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.efeitosInicio .quadrado:nth-child(1) {

    animation-delay: -5s;
  }
  .efeitosInicio .quadrado:nth-child(2) {

    animation-delay: -4s;
  }
  .efeitosInicio .quadrado:nth-child(3) {

    animation-delay: -3s;
  }

  .efeitosInicio .quadrado:nth-child(4) {

    animation-delay: -2s;
  }

  .efeitosInicio .quadrado:nth-child(5) {

    animation-delay: -1s;
  }
  @keyframes quadrado {
    0% {
        background-color: #490000;
    }
    25%{
        background-color: #880000;
        width: 70px;
        height: 70px;
    }

    50% {
        background-color: #FF0000;
        box-shadow: 0px 0px 22px 5px #ff0000;
        width: 80px;
        height: 80px;
    }
    75%{
        background-color: #880000;
        width: 70px;
        height: 70px;
    }

    100% {
        background-color: #490000;
    }
  }

.sobreMim{
    height: 100vh;
    width: 100%;
}

.titleSobre{
    color: #FF0000;
    font-size: 35px;
    width: 70%;
    font-family: "Inter", sans-serif;
    margin-top: 25vh;
    margin-inline: auto;
}

.sobreTitle{
    background: var(--colorDetails-darkMode);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-family: "Istok Web", sans-serif;
    font-weight: 700;
    margin-left: auto;
    margin-right: auto;
    font-size: 40px;
    width: 100%;
    height: 15vh;
    text-align: center;
}

body.light-mode .sobreTitle{
    background: var(--colorDetails-lightMode);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-family: "Istok Web", sans-serif;
    font-weight: 700;
    margin-left: auto;
    margin-right: auto;
    font-size: 40px;
    width: 100%;
    height: 15vh;
    text-align: center;
}

.sobreTitle h1{
    margin-top: 40px;
}

.textoSobre{
    color: var(--color-darkMode);
    font-family: "Inter", sans-serif;
    font-size: 20px;
    width: 70%;
    margin-inline: auto;
}

body.light-mode .textoSobre{
    color: var(--color-lightMode);
}

.linksConhecer{
    width: 70%;
    margin-inline: auto;
    font-size: 50px;
    transition: 1s;
}

.linksConhecer i{
    background-image: linear-gradient(150deg, rgb(173, 0, 0) 0%, rgba(255,0,0,1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transition: 1s;
}

.linksConhecer:hover i{
    background-image: linear-gradient(-150deg, rgb(173, 0, 0) 0%, rgba(255,0,0,1) 100%);
}

.habilidades{
    width: 100%;
    height: 110vh;
}

.habilidadesTitle{
    color: #FF0000;
    font-family: "Istok Web", sans-serif;
    font-weight: 700;
    margin-left: auto;
    margin-right: auto;
    font-size: 40px;
    width: 100%;
    height: 15vh;
    text-align: center;
}

.EntreContato{
    height: 100vh;
    text-align: center;
    width: 100%;
    color: #fff;
}

.redeSocial{
    margin-top: 25vh;
    display: flex;

}

.EntreContato h1{
    font-family: 'Istok Web', sans-serif;
    color: #FF0000;
    font-size: 40px;
}

.redeSocial a{
    text-decoration: none;
    font-size: 30px;
}

.redeSocial .bxl-github{
    transition: 0.7s ease-in;
    font-size: 100px;
}

.redeSocial .bxl-github:hover{
    background: linear-gradient(165deg, rgb(41, 41, 41) 0%, rgb(48, 48, 48) 78%, rgba(76, 76, 76, 0.855) 93%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    scale: 1.2;
    margin-top: 10px;
}

.redeSocial .bxl-instagram{
    transition: 0.7s ease-in;
    font-size: 100px;
}

.redeSocial .bxl-instagram:hover{
    background: linear-gradient(165deg, rgba(85,34,255,1) 0%, rgba(255,0,0,1) 78%, rgba(233,255,0,0.8547794117647058) 93%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    scale: 1.2;
    margin-top: 10px;
}

.redeSocial .bxl-linkedin-square{
    transition: 0.7s ease-in;
    font-size: 100px;
}

.redeSocial .bxl-linkedin-square:hover{
    background: linear-gradient(165deg, rgb(72, 40, 255) 0%, rgb(23, 38, 255) 78%, rgba(4, 0, 255, 0.855) 93%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    scale: 1.2;
    margin-top: 10px;
}

.chamadaInterativa{
    margin-top: 2vh;
}

.copy{
    margin-top: 0vh;
}

.copyRight{
    margin-top: auto;
    font-family: 'Istok Web', sans-serif;
    background-image: url(../img/fundo-Fotter.svg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 20vh;
    margin-top: 20vh;
}

.copyrightPort{
    margin-top: 8vh;
}

.sectionInfo{
    align-items: center;
    width: 80%;
    display: flex;
    margin: auto;
    align-content: center;
    margin-top: 1%;
}
.carousel {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 10px;
    padding: 10px;
}

.carousel-item h2 {
    margin: 0;
}

.habilidadeInfo{
    width: 100%;
    height: 50vh;
    margin: auto;
    border-radius: 25px;
    align-items: center;
    justify-content: center;
}

.titleIngoHabi{
    display: flex;
    margin-top: 10px;
}

.habilidadeInfo h1{
    align-items: center;
    font-family: "Inter", sans-serif;
    margin-left: auto;
    font-size: 35px;
}

.habilidadeInfo i{
    align-items: center;
    font-family: "Inter", sans-serif;
    margin-right: auto;
    font-size: 35px;
    margin-top: 3px;
    margin-left: 5px;
}

.habilidadeInfo p{
    align-items: center;
    font-family: "Inter", sans-serif;
    margin: auto;
    font-size: 18px;
}

.conteudoInfo{
    margin: auto;
    margin-top: 15px;
    font-size: 15px;
    width: 80%;
}

.conteudoSobre{
    display: flex;
    justify-content: space-between;
}

.about{
    margin-inline: auto;
    width: 50%;
    text-align: start;
}

.me{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
}

.me img{
    width: 70%;
    margin-inline: auto;
}

.Projects{
    text-align: center;
    width: 100%;
}

.titleProjects{
    color: #FF0000;
    font-family: "Istok Web", sans-serif;
    font-size: 50px;
    margin-bottom: 4vh;
}

.project-item{
    width: 90%;
    margin-inline: auto;
    justify-content: space-between;
    display: grid;
    grid-template-columns: auto auto;
    gap: 50px;
    margin-bottom: 15vh;
    margin-top: 5vh;
}

.imgProject{
    width: 40%;
    margin-inline: auto;
}

.imgProject img{
    width: 400px;
    height: 100%;
}

.description{
    text-align: start;
    width: 65%;
    margin-inline: auto;
}

.description h2{
    font-size: 50px;
    font-family: 'Inter', 'sans-serif';
    color: var(--color-darkMode);
}

body.light-mode .description h2{
    color: var(--color-lightMode);
}

.description p{
    font-family: 'Inter', 'sans-serif';
    color: var(--color-darkMode);
}

body.light-mode .description p{
    color: var(--color-lightMode);
}

.languagesProject{
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 68%;
    margin-top: 2vh;
    margin-inline: auto;
}

.languagesItem{
    color: #BE0000;
    font-family: 'Istok Web', 'sans-serif';
    font-weight: 700;
    background-color: #fff;
    margin-left: 10px;
    padding: 10px 0px;
    box-shadow: 3px 4px 2px 2px #00000038;
    border-radius: 10px;
}

.linkProject{
    display: grid;
    grid-template-columns: auto auto;
    margin-inline: auto;
    width: 68%;
    justify-content: start;
    margin-top: 2vh;
}

.linkItem{
    color: #ffffff;
    text-decoration: none;
    font-family: 'Istok Web', 'sans-serif';
    font-weight: 700;
    
    background-color: #BE0000;
    margin-left: 10px;
    padding: 10px 10px;
    border-radius: 10px;
    width: 100px;
    border: none;
    cursor: pointer;
    transition: 0.6s ease;
}

.LinkSite{
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: 0.6s ease;
}

.GitHub{
    background-color: #630000;
    transition: 0.6s ease;
}

.GitHub{
    text-decoration: none;
    font-size: 20px;
}

.LinkSite:hover{
    color: #BE0000;
    background-color: white;
}

.GitHub:hover{
    color: #630000;
    background-color: white;
    
}


body .linkFotter{
    color: var(--color-darkMode) !important;
    font-family: 'Istok Web', sans-serif;
    margin-inline: auto;
}

body.light-mode .linkFotter{
    color: var(--color-lightMode) !important;
}

@media (max-width: 1000px){

    body{
        overflow-x: hidden;
    }

    .Apresentacao{
        z-index: 2;
        background-color: var(--background-darkMode);
        position: relative;
        width: 70%;
        margin-top: 160px;
        margin-inline: auto;
        text-align: start;
    }
    
    .Apresentacao .nome{
        color: #FF0000;
        font-family: "Inter", sans-serif;
        font-size: 30px;
    }
    
    .Apresentacao .curso, .sobre{
        color: var(--color-darkMode);
        font-family: "Inter", sans-serif;
    }
    
    .curso{
        font-size: 25px ;
    }
    
    .saibaMais{
        height: 35px;
        width: 110px;
        border-radius: 10px;
        border: 0px;
        background-color: #B80000;
        margin-top: 15px;
    }
    
    .saibaMais a{
        text-decoration: none;
        color: white;
        font-size: 15px;
    }

    .fundoInicio{
        width: 400px;
        margin-top: 40px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%); /* Ajuste para centralizar */
        filter: drop-shadow(0px 0px 5px #ff0000);
        z-index: 1; /* Mantém atrás da .Apresentacao */
        top: 5%;
        margin-left: 0px;
        margin-right: 0px;
    }

    .efeitosInicio{
        display: flex;
        flex-direction: row;
        margin-top: 80vh;
        position: absolute;
        margin-inline: auto;
        width: 100%;
        text-align: end;
        align-items: end;
    }

    .quadrado{
        width: 60px;
        height: 60px;
        background-color: #FF0000;
        margin-top: 30px;
        margin-inline: auto;
        animation: quadrado 5.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
    }
    

    .conteudoSobre{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    .sobreTitle{
        background: var(--colorDetailsCell-darkMode);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        font-family: "Istok Web", sans-serif;
        font-weight: 700;
        margin-left: auto;
        margin-right: auto;
        font-size: 40px;
        width: 100%;
        height: 15vh;
        text-align: center;
    }

    body.light-mode .sobreTitle{
        background: var(--colorDetailsCell-lightMode);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        font-family: "Istok Web", sans-serif;
        font-weight: 700;
        margin-left: auto;
        margin-right: auto;
        font-size: 40px;
        width: 100%;
        height: 15vh;
        text-align: center;
    }


    .about{
        margin-inline: auto;
        width: 90%;
        text-align: start;
    }

    .titleSobre{
        color: #FF0000;
        font-size: 20px;
        width: 80%;
        font-family: "Inter", sans-serif;
        margin-top: 6vh;
        margin-inline: auto;
    }

    .textoSobre{
        color: var(--color-darkMode);
        font-family: "Inter", sans-serif;
        font-size: 15px;
        width: 80%;
        margin-inline: auto;
    }

    .linksConhecer{
        width: 80%;
        margin-top: 2px;
        margin-inline: auto;
        font-size: 30px;
        transition: 1s;
    }

    .me{
        margin-left: auto;
        margin-right: auto;
        width: 70%;
        text-align: center;
        margin-top: 2vh ;
    }
    
    .me img{
        width: 50%;
        margin-inline: auto;
    }

    .imgProject img{
        width: 200px;
        height: 100%;
    }


    .navBar{
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50%;
        height: 92vh;
        background-color: var(--background-darkMode);
        margin-right: 0px;
        flex-direction: column;
        z-index: 9999   ;
        align-items: center;
        transform: translateX(100%) !important;
        transition: .4s ease;
    }

    body.light-mode .navBar{
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50%;
        height: 92vh;
        background-color: var(--background-lightMode);
        margin-right: 0px;
    }

    body .navbar_Item button .dark{
        transition: 1s ease;
        position: absolute;
        top: 22vh;
    }

    body .navbar_Item button .light{
        color: transparent;
        transition: 1s ease;
        position: absolute;
        top: 22vh;
    }

    .mobile-menu{
        display: block !important;
        
    }
}

@media (max-width: 550px){
    .me img{
        width: 80%;
        margin-inline: auto;
    }

    .efeitosInicio{
        display: flex;
        flex-direction: row;
        margin-top: 70vh;
        position: absolute;
        margin-inline: auto;
        width: 100%;
        text-align: end;
        align-items: end;
    }

    @keyframes quadrado {
        0% {
            background-color: #490000;
            width: 40px;
            height: 40px;
        }
        25%{
            background-color: #880000;
            width: 50px;
            height: 50px;
        }
    
        50% {
            background-color: #FF0000;
            box-shadow: 0px 0px 22px 5px #ff0000;
            width: 60px;
            height: 60px;
        }
        75%{
            background-color: #880000;
            width: 50px;
            height: 50px;
        }
    
        100% {
            background-color: #490000;
            width: 40px;
            height: 40px;
        }
      }
    
      .Apresentacao .nome{
        color: #FF0000;
        font-family: "Inter", sans-serif;
        font-weight: 300;
        font-size: 23px;
        margin: 3px 0px;
    }

    .sobre{
        font-size: 10px;
    }

    .curso{
        font-size: 18px ;
        margin: 3px 0px;
    }

    .saibaMais{
        height: 35px;
        width: 110px;
        border-radius: 10px;
        border: 0px;
        background-color: #B80000;
        margin-top: 10px;
    }

      .fundoInicio{
        width: 300px;
        margin-top: 40px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%); /* Ajuste para centralizar */
        filter: drop-shadow(0px 0px 5px #ff0000);
        z-index: 1; /* Mantém atrás da .Apresentacao */
        top: 10%;
        margin-left: 0px;
        margin-right: 0px;
    }

    .me{
        margin-left: auto;
        margin-right: auto;
        width: 70%;
        text-align: center;
        margin-top: 5vh ;
    }

    .redeSocial{
        flex-direction: column;
        margin-top: 10vh;
    }

    .project-item{
        width: 90%;
        margin-inline: auto;
        justify-content: space-between;
        display: grid;
        grid-template-columns: auto;
        gap: 50px;
        margin-bottom: 15vh;
        margin-top: 5vh;
    }

    .imgProject {
        width: 60%;
        margin-inline: auto;
    }

    .description h2 {
        font-size: 40px;
        margin-inline: auto;
        font-family: 'Inter', 'sans-serif';
        color: var(--color-darkMode);
    }

    .description {
        text-align: center;
        width: 65%;
        margin-inline: auto;
    }

    .description p {
        font-family: 'Inter', 'sans-serif';
        color: var(--color-darkMode);
        text-align: start;
    }

    .languagesProject {
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 10px;
        width: 90%;
        margin-top: 2vh;
        margin-inline: auto;
    }

    .linkProject {
        display: grid;
        grid-template-columns: auto;
        margin-inline: auto;
        gap: 10px;
        margin-inline: auto;
        width: 68%;
        justify-content: center;
        margin-top: 2vh;
        text-align: center;
    }

    .linkProject a{
        margin-inline: auto;
    }
}

/* Menu Responsivo */

.mobile-menu{
    display: none;
    margin-left: auto;
    cursor: pointer;
}

.mobile-menu div{
    width: 32px;
    height: 2px;
    background-color: #BE0000;
    margin: 8px;
}

.navBar.active{
    transform: translateX(0) !important;
}
